@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary: #F4BA1A;
  --secondary: #123D59;
  --light: #134d72;
  --font: "Nunito" ;
}
html{
  scroll-behavior: smooth;
  cursor: none;
}

body {
  overflow-x: hidden;
  font-family: "Nunito" !important; 
  margin: 0 !important;
  padding: 0 !important;
  cursor: none;
}

a {
  text-decoration: none !important;
}
/* Common content starts  */
.title{
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: var(--primary);
  text-transform: uppercase;
}

.topbar {
  background-color: var(--secondary) !important;
}

.topcontact a {
  color: #c2bcbc !important;
  padding: 13px 0;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.btn-outline-body {
  color: var(--primary);
  border-color: #777777;
  border-radius: 0;
}

.btn-outline-body:hover {
  color: #FFFFFF;
  background: var(--primary);
  border-color: var(--primary);
}
.headings::selection{
  background-color: var(--primary) !important; 
  color: var(--secondary) !important;
}
/* common content ends */
/*  */
/*  */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.loader {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-round {
  width: 250px;
  animation: spin 2s linear infinite;
}

.avinya-spinner {
  position: absolute;
  width: 90px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Cursor */
.inner-cursor{
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%,-50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 99999999;
}
.inner-cursor.grow{
  width: 25px;
  height: 25px;
  transition: width 0.5s, height 0.5s;
}
.outer-cursor{
  z-index: 99999999;
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
}
/* Cursor */


/* NAVBAR */
.navbar-nav {
  flex-direction: row;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-toggler {
  border: none;
}

@media (max-width: 992px) {
  .navbar-nav {
      flex-direction: column;
  }
  .navbar-brand {
      position: static;
      transform: none;
      text-align: center;
  }
}

.navbar {
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
  padding: 1.5vw 0;
}

.navbar-brand img {
  width: 210px;
  margin-top: 30px;
  padding: 20px;
  position: relative;
}
.navbar {
  position: relative;
  background-color: #f8f9fa; 
}
.collapse ul li a:hover{
  color: var(--primary) !important;
}

.navbar-brand::before {
  content: '';
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #f8f9fa;
  z-index: 0;
  clip-path: polygon(0 0, 100% 0, 100% 12%, 75% 30%, 25% 30%, 0 12%);
}

.dropdown .dropdown-menu {
  display: block;
}
.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: var(--secondary) !important;
  font-weight: 700;
}
.dropdown .dropdown-menu {
  opacity: 0;
  transition: .5s;
  background-color: #f4ba1a80;
  border: none;
  box-shadow: 0 0 4px rgba(18, 61, 89, .3);
  pointer-events: none;
  top: 35px;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  pointer-events: all;
}

.navbar-nav li {
  margin-left: 10px;
}
.dropdown-item {
  text-transform: uppercase;
}
.dropdown-item:hover, 
.dropdown-item:active
{
  background-color: transparent !important;
  color: white !important;
  transition: .5s;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-icon {
  margin-left: 5px;
}

.nav-link {
  color: var(--secondary) !important;
  font-weight: 700;
}
.nav-item.active .nav-link {
  color: var(--primary) !important;
  border-top: 2px solid var(--secondary);
}

@media (max-width:768px) {
  .navbar-brand::before{
    display: none;
  }
  .nav-item.active .nav-link {
    color: var(--primary) !important;
    border-top: none;
  }
  
}
/* HERO SITE */
.hero-site {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.custom-font {
  font-family: sans-serif !important; 
  font-weight: 800;
  border: 2px solid black;
  cursor: default;
}

.hero-heading {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  font-weight: 800;
  color: var(--primary);
  font-size: 7vw;
  position: absolute;
  left: 19vw;  
}

.wave-container {
  text-align: center;
  margin-top: 0 !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.wave-container h1::selection,.custom-font::selection{
  background-color: #134d72;
}

.back-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* ABOUT US */
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}

.section-title {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: var(--primary);
}

.readBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--primary);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
}

.readBtn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--secondary);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.readBtn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.readBtn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 12px 15px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.readBtn:hover span {
  color: var(--primary);
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* PROJECT */
.project .nav .nav-link {
  transition: .5s;
}

.project .nav .nav-link.active {
  background: var(--primary);
}

.project .nav .nav-link.active h3 {
  color: #FFFFFF !important;
}
.section-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
/* Projects */
/* Completed projects */
.container {
  max-width: 1200px;
}
.project-card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 450px;
  margin-bottom: 30px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 100%; 
  background: linear-gradient(transparent, #181818c1 59%);
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: center;
  padding: 20px; 
  width: 100%;
}

.overlay-content h3 {
  color: var(--primary);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.overlay-content p {
  color: white;
  margin: 5px 0 0;
}
.projects-link{
  padding: 10px 15px;
  margin: 90px;
  font-size: 21px;

}
.projects-pills .projects-link.active {
  background-color: var(--primary);
  border-radius: 20px;
  color: var(--secondary);
  font-weight: 600;
  
}

.projects-item a:hover{
  color: var(--primary);
}

.projects-pills .projects-link {
  color: var(--secondary);
  font-weight: 600;
  transition: color .3s;
}
/*  Completed projects ends*/

/* Latest projects starts */
.ongopro-heading {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}
.project-container {
  background-color: #123D59;
  border-radius: 20px;
  height: 400px !important;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project-img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0.3;
}
.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 30px 30px 0 30px;
  position: relative;
  z-index: 1;
}
.project-content h3,
.project-content h1,
.project-content p {
  color: white;
  margin: 0;
}
.project-content h3{
  color: var(--primary);
  font-weight: 600;
}
.project-content h1 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: 500;
}
.project-content p {
  margin-top: 10px;
}
.project-container:hover .project-img {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.project-container:hover .project-content {
  opacity: 0;
}
.project-loading-img {
  position: absolute;
  width: 50px;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: 1s;
  animation: rotate 5s linear infinite;
}

.project-container:hover .project-loading-img {
  opacity: 1;
  transition: 1s ease-in-out !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Latest projects ends */
/* Why choose us starts */
.why-choose-us {
  height: 100%;
  position: relative;
}

.why-title {
  color: var(--primary);
  font-size: medium;
  font-weight: bold;
}
.whychoose-img{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  left: -70px;
  bottom: 0;
  opacity: 0.2;
  z-index: -999;
}
.whychoose-img-right{
  position: absolute;
  top: 200px;
  right: -330px;
  z-index: -999;
  opacity: 0.2;
}
.reason-title {
  font-weight: bold;
  color: var(--secondary);
}

.reason-description {
  color: var(--secondary);
  margin-bottom: 30px;
}

.whychoose-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #b0b0b00f;
  padding: 15px;
  min-height: 300px;
  
}
.whychoose-box:hover{
  box-shadow: rgba(93, 89, 50, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(64, 64, 10, 0.35) 0px -2px 6px 0px inset;
}

.whychoose-icon {
  font-size: 30px;
  margin-right: 15px;
  color: var(--primary);
}

.whychoose-text h4 {
  margin: 0;
  color: var(--secondary);
  margin-bottom: 20px;
  font-weight: bold;
}

.whychoose-text p {
  margin: 0;
  font-size: 15px;
  text-align: justify;
  color: #666;
  cursor: context-menu;
}
@media (max-width:768px) {
  .whychoose-img{
    display: none;
  }
  .whychoose-img-right{
    display: none;
  }
}
/* Why choose ends */
/* Clients starts */
.clients{
  overflow: hidden;
  margin-top: 150px;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}
.clients::before,
.clients::after{
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}
.clients::before{
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0),white);
}
.clients::after{
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0),white);
}
.logos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}
.logos-slide img{
  height: 130px;
  margin: 0 40px;
}
@keyframes slide{
  0% {
    transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
      }
}

/* Clients ends */

/* Contact us */
.contact{
  background-color: #f7f7f7;
  border: 1px solid rgb(230, 228, 228);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 30px 0;
  border-radius: 20px;
  position: relative;
  width: 100%;
  z-index: 9999;
  padding: 20px;
}

.contact-info {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5%;
}
.contact-info h2 {
  font-weight: bold;
}
.info-box {
  text-align: center;
  margin: 20px 0;
}
.info-box i {
  font-size: 2rem;
  color: #ffc107;
}
.info-box p {
  margin: 0;
  font-weight: bold;
}
.form-section {
  margin-top: 20px;
  width: 100%;
  margin-right: 50%;
}
.form-control{
  border: none;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  background-color:#f4ba1a3e;
  font-weight: 600;
  font-family: var(--font);
}
.form-section textarea{
  max-height: 200px !important;
}
.contact-forms{
  margin: 0 auto
}

.contact-readBtn{
  height: 50px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  border-radius: 5px;
  background: var(--primary);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
  }
  
  .contact-readBtn:after {
    content: "SEND";
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 600;
    width: 0%;
    height: 70px;
    background: var(--secondary);
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .contact-readBtn:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .contact-readBtn span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 12px 15px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .contact-readBtn:hover span {
    color: var(--primary);
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }


/* Footer */
/* Footer */
.footer-area{
  margin-top: 50px;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}
.footer-img img{
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.footer-social{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.footer-social a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 0 15px;
  border-radius: 50%;
}
.footer-text{
  position: absolute;
  bottom: 0;
  left: 20px;
}
.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}
.vcraftyu img{
  position: absolute;
  bottom: 20px;
  width: 110px;
  right: 14%;
  transform: rotate(-40deg);
}
.footer-mb {
  display: none;
}

@media (max-width: 1300px) {
  .vcraftyu img{
    right: 13vw;
    width: 85px;
  }
  .footer-text{
    font-size: 11px;
  }
}

@media (max-width: 1001px) {
  .footer-lg {
    display: none;
  }
  .footer-mb {
    display: block;
    width: 97vw !important;
    object-fit: cover;
  }
  .vcraftyu img {
    bottom: 14vw;
    right: 2vw;
  }
}

@media (max-width: 924px) {
  .vcraftyu img {
    bottom: 12vw;
  }
  .footer-text{
    font-size: 2vw;
  }
}

@media (max-width: 740px) {
  .vcraftyu img {
    width: 80px;
    bottom: 10vw;
    right: 0;
  }
}

@media (max-width: 630px) {
  .vcraftyu img {
    width: 70px;
    bottom: 11vw;
    right: 0;
  }
}

@media (max-width: 575px) {
  .vcraftyu img {
    width: 60px;
    bottom: 12vw;
    right: 0;
  }
}

@media (max-width: 512px) {
  .vcraftyu img {
    width: 50px;
    bottom: 12vw;
    right: 0;
  }
}

@media (max-width: 450px) {
  .vcraftyu img {
    width: 50px;
    bottom: 10vw;
    right: 0;
  }
}

@media (max-width: 380px) {
  .vcraftyu img {
    width: 50px;
    bottom: 8vw;
    right: -2vw;
  }
}

@media (max-width: 350px) {
  .vcraftyu img {
    width: 50px;
    bottom: 7vw;
    right: -3vw;
  }
}


/* Footer back to top */
.banner-map iframe{
  width: 100%;
  z-index: 1;
  position: relative;
  bottom: 180px;
}
.back-to-top {
  position: fixed;
  font-size: 25px;
  bottom: 20px;
  right: 30px;
}
.popup-logo{
  position: fixed;
  bottom: 15px;
  right: 70px;
}
.popup-logo img{
  width: 60px;
  background: #c9c9c928;
  border-radius: 70%;
  padding: 10px;
  transition: smooth .25s;
}
.popup-logo img:hover {
  transform: translateY(-20px);
  box-shadow: 0px 21px 42px -10px rgba(19,77,114,0.42);
}
@media (max-width:768px){
  .popup-logo{
    display: none;
  }
}
/* Breadcrumbs starts*/
.breadcrumbs {
  position: relative;
  z-index: -2;
  background: #f5f5f5;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}
.breadcrumbs .breadcrumbs-img {
  width: 100%;
  max-height: 390px;
  object-fit: cover;
}
.breadcrumbs .breadcrumbs-img img{
  width: 100%; 
  height: 100%;
}
.breadcrumbs-text{
  position: absolute;
  top: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bread-title{
  font-size: 2.5rem;
  color: var(--secondary);
  text-shadow: 1px 1px 2px black, 0 0 25px var(--primary), 0 0 5px var(--primary);
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-weight: 800;
}
.bread-title span{
  color: var(--primary);
}
/* Breadcrumbs ends */

/* GALLERY */
.gallery{
  position: relative;
}
.section-subtitle {
  color: #6c757d;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.gallery-link{
  padding: 10px 15px;

}
.gallery-pills .gallery-link.active {
  background-color: var(--primary);
  border-radius: 50px;
  color: var(--secondary);
  font-weight: 600;
}

.gallery-item a:hover{
  color: var(--primary);
}

.gallery-pills .gallery-link {
  color: var(--secondary);
  font-weight: 600;
  transition: color .3s;
}

.card {
  border: none;
  transition: transform 0.2s, opacity 0.5s ease-in-out;
}
.card img {
  height: 350px;
  object-fit: cover;
}
.card:hover {
  transform: scale(1.05);
}
.cards {
  border: none;
  transition: transform 0.2s, opacity 0.5s ease-in-out;
}
.cards img {
  height: 350px;
}
.cards:hover {
  transform: scale(1.05);
}
.cards:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, 0,176,155,0.5), rgba(150, 201, 61, 1) ;
  z-index: 2;
  transition: all 0.5s;
  opacity: 0 ;
}
.cards:hover:before{
  opacity: 1;
}
.cards .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.cards .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: all .5s;
}
.gallery-item {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden-item {
  opacity: 0;
}
.card-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover .card-details {
  opacity: 1;
}
/* Gallery ends */
/* Services Starts */
.services {
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px !important;
  margin-bottom: 90px;
}
.service-box{
  background: var(--secondary);
  color: #fff;
  border-radius: 10px;
  margin-top: 50px;
  min-height: 400px;
  transition: all .6s ease;
}
.service-box:hover{
  background: var(--primary);
  color: var(--secondary);
  font-weight: 600;
  
}
.service-box img {
  position: relative;
  top: -40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 220px;
  margin: 0;
  padding: 10px;
  border-radius: 20px;
}
.service-box .service-text {
  font-family: var(--font);
  color: var(--primary);
  letter-spacing: .8px;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  top: -30px;
  transition: all .8s ease;
}
.service-box:hover .service-text{
  color: var(--secondary);
}
.service-box .service-item li {
  font-size: 18px;
  font-family: var(--font);
  letter-spacing: .8px;
  position: relative;
  top: -10px;
  left: 10px;
  list-style: none;
  justify-content: center;
  transition: all .8s ease;
}

.service-box .service-item li::before{
  content: "🗸 ";
  margin-right: 5px;
  color: #F4BA1A;
  font-size: 21px;
  transition: all .8s ease;
}
.service-box:hover .service-item li::before{
  color: var(--secondary);
}
/* Services ends */



/* POPup */
.otp-Form {
  width: 320px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
  border-radius: 15px;
}

.mainHeading {
  font-size: 2em;
  color: rgb(15, 15, 15);
  font-weight: 700;
  text-transform: uppercase;
  
}
.verifyButton, .verifyBtn {
  position: relative;
  width: 130px;
  height: 30px;
  border: none;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 600;
  border-radius:10px;
  transition-duration: .5s;
}

.verifyButton:hover,
.verifyBtn:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition-duration: .5s;
}

.exitBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  color: black;
  font-size: 1.1em;
}
